/*Général*/
body{margin: 0;padding: 0;font-family: 'Rasa-Bold.ttf';}
li{display: inline-block;}
a{text-decoration: none;padding: 0.5em;border-radius: 1em;}
article{padding: 0;margin: 0;background-color:;display: inline-block;}
ul{display: inline-block;}
img{opacity: 0.8;border-radius: 12em;margin: 4px;}
@font-face{font-family: 'Rasa-Bold.ttf';src:url('../fonts/Rasa-Bold.ttf') format('truetype');}
@font-face{font-family: 'spartan-bold';src:url("../fonts/spartan-bold.ttf") format('truetype');}
div{border-radius: 2em;}
a:hover{text-decoration:none;}
main>section:first-child:hover{}
p:hover{background-color: #353b48;color:#fff;box-shadow: 0.3em 0.3em 0.3em #000;border-radius: 0.5em;}
.p-bio{background-color: #353b48;color:#fff;box-shadow: 0.3em 0.3em 0.3em #000;border-radius: 0.5em;padding: 2em;}
main>section:nth-child(2):hover{}
/*footer:hover{background-color: pink;}*/
form{display: flex;}
header:hover{}
h1{font-family: arial;font-weight: 4em;color:#fff;}
.child{flex-basis: %}
.form-contact{display: grid;grid-template-columns: 1fr 1fr;grid-template-areas: "un un" "deux trois" "quatre cinq";}
.un{grid-area: un;margin: 1em;border:1px solid #000;padding: 0.5em;border-radius: 1em;}
.deux{grid-area: deux;margin: 1em;border:1px solid #000;padding: 0.5em;border-radius: 1em;}
.trois{grid-area: trois;margin: 1em;border:1px solid #000;padding: 0.5em;border-radius: 1em;}
.quatre{grid-area: quatre;margin: 1em;border:1px solid #000;background-color: #666;padding: 0.5em;border-radius: 1em;}
.quatre:hover{background-color: blue}
.cinq{grid-area: cinq;margin: 1em;}
.mar-2{margin: 2em;}
.mar-7{margin: 7em;}
.mar-4{margin: 4em;}
.pad-2{padding: 2em;}
.pad-4{padding: 4em;}
.pad-7{padding: 7em;}
.pad-12{padding: 12em;}
.header-contact{height: 125vh;}
.img-moi{z-index: -10000;opacity: 0.9;}
.img-moi:hover{box-shadow:  0.3em 0.3em 0.3em #000;z-index: 1;}
/*header{background-image: url("../img/new.jpeg");}*/
textarea,input{display: inline-block;}
textarea{width: 100%;}
.div-moi{display: flex;flex-direction: row;justify-content: center;}
.div-moi1{display: flex;flex-direction: column;}
.div-moi2{width: 100%;}
.div-moi3{background-color: ;display: grid;grid-template-columns: 1fr 1fr;align-items: center;overflow: hidden; }
div.div-moi3>div{width: 40%;padding: 2em;margin: 0.5em;background-image: url("../img/dev.jpg");}
.moi-a{margin: 1em;width: 80%;height: 8em;}
a.moi-a:hover{background-color: #666;}
.div-img-bio{display: flex;flex-direction: row;justify-content: center;margin: auto 5em;}

/*header*/
header{background-color:#353b48;max-height: 500em;display: flex;flex-direction: column;align-items: stretch;height: ;box-shadow: 0.3em 0.3em 0.3em #000;}
header>div:first-child{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;padding: 0;}
header>div:first-child>div:first-child a{;color:#fff;}
header>div:first-child>div:first-child{background-color: #0097e6; display: flex;flex-direction: row;flex-wrap: wrap;align-content: space-around;justify-content: space-around;margin: 0.7em;border-radius: 0.5em;}
header>div:first-child>div:first-child input{width: 70%;height: 7vh;border-radius: 0.5em;}
header>div:nth-child(2){background-color: ;max-height: 30em;padding: 3em;overflow: hidden;}
header>div:nth-child(2) a{padding: 0.8em;background-color:#666;border-radius: 0.4em;width: 40vh;display: inline-block;overflow: hidden;text-align: center;border: 2px solid #fff;}
main{background-color:;}/*
*/main>section:first-child{display: flex;flex-direction: row;justify-content: space-around;padding: 5em;}
main>section:first-child p {background-color:#353b48;z-index: -1}
main>section:first-child>div div{background-color: #cfd;padding:1em;overflow: hidden;}
/*
main>section:nth-child(2){background-color: #pink; display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;padding: ;box-shadow: 1em 1em 1em 0.5em #000;}
main>section:nth-child(2)>div div{background-color: #666;padding:1em;display: flex;flex-direction: column;align-items: stretch;text-align: center;box-shadow: 1em 1em 1em #000;}
main>section:nth-child(2)>div{background-color: ;margin: 1em;}*/
footer{background-color: rgba(0,0,0,0.7);display: flex;flex-direction: row;justify-content: space-around;}