
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #333;
}
.touslebloc{
	position: relative;
	background-color: rgb(255,255,255);
	width: 800px;/*pour centrer j'utilise la largeur de mon bloc*/
	margin: 35px auto;
	display: block;
border-radius: 14px;
box-shadow: 2px 7px 12px 14px red;


	
}
.lettre{
	text-align: justify;
}
h3{
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

a{
	color: #000;
	text-decoration: none;
}
.contenu{
	font-family: 'Cormorant Upright', serif;
	padding: 42px;
	border: 2px solid blue;
	
transition: transform .8s;
border-radius: 14px;
}
.address{

	direction: rtl;
}
a:hover{
	color: red;
}
.img{ 
	text-align: right;

	

}
.touslebloc:hover{
	background-color:  #ffffff;
	color: #000;
	transform: scale(1.05);
	box-shadow: 2px 7px 12px 14px yellow;
	/*transition*/
}
body:hover{
	background-color: #fff;
}
address{
	font-family: 'Cormorant Upright', serif;
	font-size: 1em;
}