body{padding: 0;margin: 0;}
header>nav>div>ul>li:hover{background-color: #707070;}
nav>ul>li:hover{background-color: #08b597;}
div>div>p>a:hover{background-color: white;color:#08b597; }
.nopuce{list-style-type: none;}
.barreh{
	
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#08b597;
    top:
    width: 100%;       
}
.barreh2{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:white;
	
    margin-left: 8%;
    width: 80%;
       
}
.color-white{color: white;}
header>nav>ul>li>i{margin-left: 15px;float: right;margin-right: 0;text-align: center;padding-top:13px; }
li {float: left;}

a{text-decoration: none;}
.txt-center{text-align: center;}
.txt-right{text-align:right;}
.disp-block{display: block;}
.pad-13{padding: 13px;}
.pad-10{padding: 10px;}
.pad-20{padding: 20px;}
.pad-7{padding: 7px;}
.pad-4{padding: 4px;}
.marg-20{margin: 20px;}
.pad-60{padding: 60px;}
.pad-0{padding: 0;}
.pad-100{padding: 100px;}
.pad-200{padding: 200px;}

.marg-l-0{margin-left: 0;}
.marg-l-20{margin-left: 20px;}
.marg-l-90{margin-left: 90px;}
.marg-b-90{margin-bottom: 90px;}
.marg-b-90{margin-bottom: 90px;}
.marg-b-15{margin-bottom: 15px;}
.marg-b-5{margin-bottom: 5px;}
.marg-b-0{margin-bottom: 0;}
.pad-l-0{padding-left: 0;}
.pad-r-20{padding-right: 20px;}
.pad-t-15{padding-top: 15px;}
.pad-t-25{padding-top: 25px;}
.pad-b-15{padding-bottom: 15px;}
.pad-b-0{padding-bottom: 0;}
.background{background-image: url("../img/imagea.jpg");background-repeat: no-repeat;background-size: 100%;}
.background2{background-image: url("../img/vignette.png");background-repeat: no-repeat;background-size: 100%;}
.background3{background-image: url("../img/Capturea.png");background-repeat: no-repeat;background-size: 100%;}
.background4{background-image: url("../img/Captureb.png");background-repeat: no-repeat;background-size: 100%;}
.background5{background-image: url("../img/Capturec.png");background-repeat: no-repeat;background-size: 100%;}
.widt-heig{width: 250px;height: 150px;}
.widt-heig-50{width: 230px;height: 190px;}
.bg-green{background-color: #08b597;}
.float-l{float: left;}
.float-r{float:right;}
.color-08b597{color: #08b597;}
.bg-08b597{background-color:#08b597;}
.color-707070{color: #707070;}
.border-1{border-style: solid;border-width: 1px;}
.border-white{border-color: white;}
.border-rad{border-radius: 17px;}
.txt-Merriweather {font-family: 'Merriweather', serif;}
.txt-Montserrat{font-family: 'Montserrat', sans-serif;}
.txt-bold{font-weight: bold;}
.txt-motion-picture{font-family: 'MotionPicture',sans-serif;}
.txt-1{font-size: 1em;}
.txt-07{font-size: 0.7em;}
.txt-2{font-size: 2em;}
.txt-3{font-size: 3em;}
.txt-4{font-size: 4em;}
.txt-5{font-size: 5em;}
.txt-6{font-size: 6em;}
.txt-7{font-size: 7em;}
hr{opacity: 0.5;margin-left: 8%;margin-right: 18%;}
@font-face{font-family: MotionPicture;src:url("../fonts/MotionPicture_PersonalUseOnly.ttf") format('truetype'); }
.disp-flex{display: flex;}
.bg-red{background-color: red;}
.posi-relative{position: relative;}
.justify-content{justify-content:space-around;}
.justify-center{justify-content:center;}
.align-items{align-items:flex-start;}
.flex-wrap{flex-wrap: wrap;}

.children:nth-of-type(1) { flex-grow: 1;}
.children:nth-of-type(2) { flex-grow: 1;}
.children:nth-of-type(3) { flex-grow: 3;}
.children:nth-of-type(4) { flex-grow: 1;}
.children:nth-of-type(5) { flex-grow: 1;}
.children:nth-of-type(3) { flex-basis : 20% ; }
.children:nth-of-type(2) {align-self: flex-end;}
.children:nth-of-type(3) {align-self: center;}