/*générale*/
body,html{margin:0;padding: 0;}
*{box-sizing: border-box;}
li{display: inline-block;}



/*hover*/





/*header*/
header>div>div:first-child{background-color: #08b597;}
header>div>div:first-child>div{display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;margin:auto 6em; }
header h1{text-align: center;}
header hr{margin:auto 6em;}
header>div>nav{margin: 0;}


/*main*/
/*section1*/
main>section:first-child{background-image: url("../img/imagea.jpg");background-repeat: no-repeat;background-size: cover;display: flex;flex-direction: column;padding: 9em 9em 5em 9em;}
main>section:first-child>article{display: flex;flex-direction: column;}
main>section:first-child>aside{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;}
main>section:first-child>aside>div{background-image: url("../img/vignette.png");background-repeat: no-repeat;background-size: cover;width: 20%;margin: 0.7em;height: 30vh;}

/*section2*/
main>section:nth-child(2){ padding: 5em;justify-content: center;}
main>section:nth-child(2)>article{display: flex;flex-direction: row;flex-wrap: wrap;}
main>section:nth-child(2)>article>div>div{background-image: url("../img/vignette.png");background-repeat: no-repeat;background-size: cover;margin: 0.2;}
main>section:nth-child(2)>article>div:nth-child(2){background-image: url("../img/vignette.png");background-repeat: no-repeat;background-size: cover;}
main>section:nth-child(2)>article>div:nth-child(1),main>section:nth-child(2)>article>div:nth-child(3){display: flex;flex-direction: column;align-items: flex-start;margin: 0.4em;}


/*section3*/



/*section4*/



/*section5*/



/*section6*/



/*section7*/



/*section8*/



/*footer*/





