body{margin: 0;padding: 0;font-family: 'Rokkitt', serif;}

li{list-style-type: none;}

a:hover{color:#fff;text-decoration: none;background-color: #009247;}
a{text-decoration: none;color:yellow;}
hr{padding: 0.1em;background-color: #33CC00;margin: 3em;}
.un{grid-area: un;margin: 0.7em;color:yellow;text-align: center;}
.deux{grid-area: deux;margin: 0.7em;}
.trois{grid-area: trois;margin: 0.7em;padding: 0;color:green;font-size: 1em;}
.quatre{grid-area: quatre;margin: 0.7em;}

input[type=submit]{background-color: #009247;color:#fff;border-color: yellow;}
input[type=submit]:hover{background-color: yellow;color:green;}
@font-face{font-family: spartan-bold;src:url("../fonts/spartan-bold.ttf") format('truetype');}


header form a:hover{color:red;background-color: #fff;}



/*header*/
header{display: flex;flex-direction: column;}
header>div{display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;}
header>div input{border-radius: 2em;height: 7vh;margin: 0.3em;border-color: green;box-shadow: 0.3em 0.3em 0.3em #000;}
header>div select{margin: 0.1vh;box-shadow: 0.3em 0.3em 0.3em #000;height: 7vh;border-radius: 2em;}
header>nav{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;margin: 0.5em;box-shadow: 0.3em 0.3em 0.3em #000;padding: 0;}
header>nav ul{margin: 1em;}
header>nav li{display: inline-block;}
header>nav a{color:green;padding: 1em;}
header form a{color:#000;margin-right: 0.7em;}





input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;}




/*main*/
/*section*/
section{width: 100%;background-image: url("../img/img1.jpg");background-repeat: no-repeat;background-size: cover; padding: 7em;overflow: hidden;}
section img{width: 100%;}
section>div:nth-child(1){}
section>div:nth-child(2){clear: both;}
section form{width: 100%; background-color: rgba(0,9,0,0.5);display: grid;grid-template-columns: 1fr 1fr;grid-template-areas: "un un" "deux deux" "quatre quatre"; padding: 1em;box-shadow: 0.3em 0.3em 0.3em #000;}


/*@keyframes slide {

  0% {transform: translateX(0);}
  20% {transform: translateX(500px);}
  30% {transform: translateX(-500px);}
  40% {transform: translateX(-1000px);}
  30% {transform: translateX(100%);}
  
  65% {transform: translateX(-1500px);}
  85% {transform: translateX(-2000px);}
  90% {transform: translateX(-2500px);}
  
  95% {transform: translateX(-3000px);}
  100% {transform: translateX(-3500px);}
}*/











/*footer*/
footer{background-color: #009247;}
footer>div{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;}
footer>div>div{padding: 2em;margin: 1em;border-radius: 5%;box-shadow: 0.5em 0.5em 0.5em yellow;}
footer>div>div:hover{box-shadow: 1em 1em 1em 1em yellow;}
footer>div>div>a{color:#fff;}






/*.img-magnifier-glass {
  position: absolute;
  border: 3px solid green;
  border-radius: 2em;
  cursor: ;
  /*Set the size of the magnifier glass:
  width: 100px;
  height: 100px;
}
*/




